[DEFAULT]

task_family_name = project_name
task_definition_name = project_name

[prod]
cluster = iqm-etl-v2-cluster
task_role_arn = arn:aws:iam::888826634613:role/ecs-geo_aggregator_core-role
execution_role_arn = arn:aws:iam::888826634613:role/ecsTaskExecutionRole
subnet1 = subnet-04fa64a07f4771d43
subnet2 = subnet-03de8f794912c4e37
security_group = sg-0a78ae5dc80113404
security_group_ecs_exporter = sg-08b901e9b65b5bafc


[preprod]
task_family_name = project_name
task_definition_name = project_name
cluster = iqm-etl-v2-cluster
task_role_arn = arn:aws:iam::658778666640:role/ecs-geo_aggregator_core-role
execution_role_arn = arn:aws:iam::658778666640:role/ecsTaskExecutionRole
subnet1 = subnet-08f12d8da559e1314
subnet2 = subnet-00e77e427d8766dd9
security_group = sg-00a1d2bfd1fd38524,sg-0bae2288d66e67e3e
security_group_ecs_exporter = sg-061147386823c3241


[stage]
cluster = iqm-etl-v2-cluster
task_role_arn = arn:aws:iam::658778666640:role/ecs-geo_aggregator_core-role
execution_role_arn = arn:aws:iam::658778666640:role/ecsTaskExecutionRole
subnet1 = subnet-08f12d8da559e1314
subnet2 = subnet-00e77e427d8766dd9
security_group = sg-00a1d2bfd1fd38524
security_group_ecs_exporter = sg-061147386823c3241
